.modal__content_type_image {
    position: relative;
    max-width: 498px;
    max-height: 610px;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
  
  .modal__image {
    height: 498px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  
  .modal__footer {
    font-family: "CabinetGrotesk-Bold", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-left: 32px;
  }
  
  .modal__caption {
    margin-top: 20px;
    margin-bottom: 12px;
  }
  
  .modal__weather {
    margin-top: 0px;
    margin-bottom: 32px;
  }
  
  .modal__close {
    background-image: url(../../assets/close-light.svg);
    background-repeat: no-repeat;
    border: none;
    width: 16px;
    height: 16px;
    background-color: transparent;
    position: absolute;
    top: 20px;
    right: 28px;
  }