.footer {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    top: 778px;
    left: 40px;
    font-family: "CabinetGrotesk-Medium", sans-serif;
    font-weight: 500;
    margin-top: 80px;
  }